body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    color:rgb(177, 160, 160);
    background-color: black;
    height: 100px;
}

.header h1::after {
    font-size: 50%;
    content: "@Gatsbeau";
    display: flex;

}

.navbar {
    width: 40%;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly
}

.header h1 {
    font-size: 200%;
    padding: 10px;
    margin: 10px;
}


.navbar ul li {
    margin: 60px 10px 10px 10px;
}

main {
    margin-left: 50px;
}

.card h2 {
    font-size: 40px;
    margin: 20px;
}

.contact {
    display:flex;
}