body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: maroon;
  height: 100px;
}

.header h1::after {
  font-size: 50%;
  content: "@Gatsbeau";
  display: flex;
}

a:link {
  color: white;
}

a:visited {
  color: rgb(192, 183, 183);
}

a:hover {
  font-weight: bolder;
}

A:active {
  font-style: oblique;
}

.navbar {
  width: 40%;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
}

.header h1 {
  font-size: 200%;
  padding: 10px;
  margin: 10px;
}

.navbar ul li {
  margin: 60px 10px 10px 10px;
}

.listpt {
  font-size: 40px;
  margin: 20px;
  padding: 20px;
  width: max-content;
  border-style: solid inset inset solid;
  border-width: 5px;
  border-color: teal;
  box-shadow: 10px 5px 5px gray;

}

.title p {
  background-color: aqua;
  padding: 20px;
}

.card p {
    margin-left: 60px;
    font-size:150%;
}



.contactinfo li {
  background-color: aqua;
  margin: 25px 45px;
  font-size: 200%;
  font-weight: bold;
  width: 30%;
  list-style: circle;
}

#greeting {
    font-size: 200%;
    position: relative;
    right: 25px;
    font-weight: bold;
    font-style: oblique;
}